<p id="notice"><%= notice %></p>

<h1>User Scores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_scores.each do |user_score| %>
      <tr>
        <td><%= user_score.name %></td>
        <td><%= user_score.score %></td>
        <td><%= link_to 'Show', user_score %></td>
        <td><%= link_to 'Edit', edit_user_score_path(user_score) %></td>
        <td><%= link_to 'Destroy', user_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Score', new_user_score_path %>
