<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_score.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @user_score.score %>
</p>

<%= link_to 'Edit', edit_user_score_path(@user_score) %> |
<%= link_to 'Back', user_scores_path %>
